<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
    <add key="Datacom" value="https://pkgs.dev.azure.com/MidlandsAzure/_packaging/Common/nuget/v3/index.json" />
  </packageSources>

  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
